{% extends "layout.html" %} 
{% block cur_navi %} 
	<a href="{% url "index" %}">首页</a> &rsaquo; 产品单
{% endblock %} 

{% block content %}
	<div class="content">
		<ul class="object-tools">
		    <li><a href="{% url "product_add" %}">增加</a></li>
	    </ul>
	    <br><br>
		<table border="1px">
			<tr class="tabletitle">
				<td>产品</td>
				<td>BOM信息</td>
				<td>BOM版本</td>
				<td style="text-align: center">操作</td>
			</tr>
			{% for i in product_list %}
			<tr>
				<td>{{ i.productName }}</td>
				<td><a href="{% url "bom_detail" %}?bomName={{ i.bomName }}&bomVersion={{ i.bomVersion }}">{{ i.bomName }}</a></td>
				<td><a href="{% url "bom_detail" %}?bomName={{ i.bomName }}&bomVersion={{ i.bomVersion }}">{{ i.bomVersion }}</a></td>
			    <td><a class="td-edit">编辑</a> | <a class="td-delete">删除</a></td>
			</tr>
			{% endfor %}

		</table>
	</div>
	
	<div class="remove hide">
	<label style="display: block; margin-top: 10px"><h1	style="color: red">将要删除！该操作不可恢复！</h1></label>
	<div align="center">
		<input style="text-align: center" id="remove_cancel" type="button"value="取消" /> 
		<input style="text-align: center" id="remove_confirm" type="button" value="确定" />
	</div>
	<label  id="productName" class="hide"></label >

</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {
		bindDeleteConfirmEvent()
		bindCancelEvent()
        bindTdDeleteEvent()
        bindTdEditEvent()
    });
    
    function  bindDeleteConfirmEvent() {
        $('#remove_confirm').click(function () {     
        	productName = $(this).parent().parent().children("#productName")[0].innerHTML;

        	$.ajax({
                url: "{% url "product_edit" %}",
                type: 'POST',
                data: {csrfmiddlewaretoken:'{{ csrf_token }}', 'action':"delete", 'productName': productName},
                dataType: "JSON",
                success: function (rep) {
                    if(!rep.status){
                    	if (rep.error == "errLogin"){
                 	        location.href = "{% url "login" %}?next="+location.pathname;
                        }
                    	else
                            alert(rep.error);
                    }else{
                        $('remove').addClass('hide');
                        location.reload();
                    }
               }
           }); 
        });
    }
    
    function  bindCancelEvent() {
        $('#remove_cancel').click(function () {
            $('.modal,.shade,.remove').addClass('hide');
        });
    }
    
    function  bindTdDeleteEvent() {
        $('table').on('click', '.td-delete', function () {
            var trs = $(this).parent().parent().children()
            $('.remove').removeClass('hide');
            $('.remove').children('#productName')[0].innerHTML = trs[0].innerHTML
        })
    }
    
    function  bindTdEditEvent() {
        $('table').on('click', '.td-edit', function () {
            var trs = $(this).parent().parent().children()
            location.href = '{% url "product_update" %}?productName='+ trs[0].innerHTML
        })
    }
    
</script>
{% endblock %}