django
pylint
pylint-django
autopep8
cryptography
setuptools
wheel
pywin32
scrapy
pymysql
pyOpenSSL
lxml
twisted
gevent
pyquery
selenium
flask
redis
multidict
aiohttp
fake_useragent
#https://pypi.douban.com/simple pandas
tushare
xlrd
scrapy_redis
pymongo