#https://pypi.douban.com/simple
#https://pypi.tuna.tsinghua.edu.cn/simple
django
pylint
pylint-django
autopep8
cryptography
setuptools
wheel
msgpack
sqlalchemy
pywin32
pymysql
pyOpenSSL
lxml
twisted
gevent
pyquery
selenium
flask
redis
multidict
aiohttp
fake_useragent
pandas
pandas
tushare
xlrd
scrapy_redis
pymongo
pyinstaller
scrapy
splash
threadpool   
vthread
bs4