{% extends "layout.html" %} 
{% block cur_navi %} 
		<a href="{% url "index" %}">首页</a> &rsaquo; 
		<a href="{% url "paper" %}">图纸</a> &rsaquo;
{% endblock %} 

{% block content %}
<div class="content">
	<ul class="object-tools">
		<li><a href="{% url "paper_add" %}">增加</a></li>
	</ul>
	<br> <br>
	<table border="1px">
		<tr class="tabletitle">
			<td>图纸名</td>
			<td>图纸版本</td>
			<td>图纸描述</td>
			<td>图纸地址</td>
			<td style="text-align: center">操作</td>
		</tr>
		{% for i in paper_list %}
		<tr>
			<td>{{ i.paperName }}</td>
			<td>{{ i.paperVersion }}</td>
			<td>{{ i.paperDiscrib }}</td>
			<td><a href="{{ i.paperAddr }}" style="display:block;max-width:300px;word-wrap:break-word;">{{ i.paperAddr }}</a></td>
			<td><a class="td-search">检索</a>| 
			    <a class="td-edit">编辑</a> |
			    <a class="td-delete">删除</a>|
			    <a class="td-history">履历</a></td>
			<td style="display:none">{{ i.id }}</td>
		</tr>
		{% endfor %}
	</table>


</div>

<div class="remove hide">
	<label style="display: block; margin-top: 10px"><h1	style="color: red">将要删除！该操作不可恢复！</h1></label>
	<div align="center">
		<input style="text-align: center" id="remove_cancel" type="button"value="取消" /> 
		<input style="text-align: center" id="remove_confirm" type="button" value="确定" />
	</div>
	<label  id="record_id" class="hide"></label >
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {
		bindDeleteConfirmEvent()
		bindCancelEvent()
        bindTdDeleteEvent()
        bindTdEditEvent()
        bindTdHistoryEvent()
        bindSearchEvent()
    });
    
    function  bindDeleteConfirmEvent() {
        $('#remove_confirm').click(function () {     
        	var trs = $(this).parent().parent().children("#record_id")[0].innerHTML;
    
        	$.ajax({
                url: "{% url "paper_edit" %}",
                type: 'POST',
                data: {csrfmiddlewaretoken:'{{ csrf_token }}', 'action':"delete", 'id':trs},
                dataType: "JSON",
                success: function (rep) {
                    if(!rep.status){
                    	if (rep.error == "errLogin"){
                 	        location.href = "{% url "login" %}?next="+location.pathname;
                        }
                    	else
                            alert(rep.error);
                    }else{
                        $('remove').addClass('hide');
                        location.reload();
                    }
               }
           }); 
        });
    }
    
    function  bindCancelEvent() {
        $('#remove_cancel').click(function () {
            $('.modal,.shade,.remove').addClass('hide');
        });
    }
    
    function  bindTdDeleteEvent() {
        $('table').on('click', '.td-delete', function () {
            var trs = $(this).parent().parent().children().last().text()
            $('.remove').removeClass('hide');
            $('.remove').children('#record_id')[0].innerHTML = trs
        })
    }
    
    function  bindTdEditEvent() {
        $('table').on('click', '.td-edit', function () {
            var trs = $(this).parent().parent().children().last().text()
            location.href = '{% url "paper_update" %}?id='+ trs
        })
    }
    
    function  bindTdHistoryEvent() {
        $('table').on('click', '.td-history', function () {
            var trs = $(this).parent().parent().children().last().text()
            location.href = '{% url "history" %}?table={{ table }}&id=' + trs
        })
    }
    function  bindSearchEvent() {
        $('.td-search').click(function () {     
        	var trs = $(this).parent().parent().children().last().text()
        	location.href = '{% url "paper_search" %}?id=' + trs
        })
    }
</script>
{% endblock %}