{% extends "layoutComfirm.html" %} 
{% block cur_navi %} 
	<a href="{% url "index" %}">首页</a> &rsaquo;
	<a href="{% url "product" %}">产品单</a> &rsaquo; 
	增加产品
{% endblock %} 

{% block content %}
	<div class="content">	 
	    <br>
		    <table border="1px">
			    <tr>
				    <td>产品名</td>				    
				    <td><input id="productName" type="text"></input></td>
			    </tr>
			    <tr>
				    <td>Bom名</td>				    
                    <td>
                    <select id="bomSelect">
				    {% for i in bom_item %}
				        <option value ="{{ i }}">{{ i }}</option>
				    {% endfor %}
				    </select>
				    </td>
		        </tr>
		    </table>
    </div>
{% endblock %}
{% block comfirmAction %}
			var str = '{"csrfmiddlewaretoken":"{{ csrf_token }}",  "action":"add"}';
			var commitContent= JSON.parse(str);
			var value = JSON.parse("{}");            
			
			value["bomName"] = $("#bomSelect").val();
			value["productName"] = $("#productName").val();
			
			commitContent["value"] = JSON.stringify(value)
			
			console.log(commitContent)
			$.ajax({
			    url: "{% url "product_edit" %}",
			    type: 'POST',
			    data:  commitContent,
			    dataType: "JSON",
			    success: function (rep) {                	
			        if(!rep.status){
			        	if (rep.error == "errLogin"){
			 	           location.href = "{% url "login" %}?next="+location.pathname;
			            }
			        	else{
			                $("#msg")[0].innerHTML = rep.data;
			        	}
			        }
			        else{
			        	console.log("add success")
			            location.href = "{% url "product" %}";
			        }
			   }
			});
{% endblock %}