<?xml version="1.0" encoding="UTF-8"?>  
    <configuration>  
        <system.webServer>  
            <handlers>  
                <add name="PythonFastCGI"   
                     path="*"   
                     verb="*"   
                     modules="FastCgiModule"   
                     scriptProcessor="c:\python36\python.exe | c:\python36\lib\site-packages\wfastcgi.py"
                     resourceType="Unspecified"   
                     requireAccess="Script"/>  
            </handlers>  
        </system.webServer>  
        <appSettings>  
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />  
            <add key="PYTHONPATH" value="D:\Server_Core\Wwwroot\internal\bom" />  
            <add key="DJANGO_SETTINGS_MODULE" value="Site.settings" />  
        </appSettings>  
    </configuration>  